<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin.vo.AdminMapper">

<select id="adminLogin" parameterType="Admin" resultType="Admin">
select * from Manager
where 
	managerID=#{managerID} and managerPassword=#{managerPassword}
</select>

<select id="getReservation" parameterType="hotelInfoGet" resultType="hotelInfoGet">
select * from hotel
</select>


</mapper>
