<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hotel.dao.MyPageMapper">

<delete id="reservationDelete" parameterType="int">
delete 
from
	Reservation
where 
	reservationID = #{reservationID}
</delete>

<delete id="payDelete" parameterType="int">
delete 
from
	pay
where 
	reservationID = #{reservationID}
</delete>

<select id="reservationList" parameterType="String" resultType="Reservation">
select 
	reservationID
	,roomID
	,userID
	,checkInDate
	,checkOutDate
	,guestCount
from 
	Reservation
where 
	userID = #{userID}
</select>

<select id="selectOneReservation" parameterType="int" resultType="Reservation">
select 
	reservationID
	,roomID
	,userID
	,checkInDate
	,checkOutDate
	,guestCount
from 
	Reservation
where 
	reservationID = #{reservationID}
</select>

<update id="reservationUpdateChangeDate" parameterType="Reservation">
update Reservation 
set
	checkInDate = #{checkInDate}
	,checkOutDate =#{checkOutDate}
where 
	reservationID = #{reservationID}
	
</update>

<select id="searchHotelName" parameterType="int" resultType="SearchHotelName">
select
	r.roomID
	,h. hotelName
from room r, hotel h
where 
	r.hotelID = h.hotelID
	and roomID=#{roomID}
</select>

<select id="showAvailableRoomByType" parameterType="String" resultType="ShowRooomType">
select 
    DISTINCT roomtypename
from 
    roomtype rt, room r, hotel  h
where 
    r.hotelid = h.hotelid
    and r.roomtypeid = rt.roomtypeid
    and h.hotelname = #{hotelName}
</select>


<update id="reservationUpdateChangeRoomType" parameterType="Reservation">
update Reservation 
set
	roomID = #{roomID}
where 
	reservationID = #{reservationID}
</update>


<!-- 회원 탈퇴 기능 -->
<delete id="deleteAccount" parameterType="Homeuser" >
   delete from HomeUser
   where
   		userID = #{userID}
</delete>

<!-- 리뷰 출력 -->
<select id="reviewList" resultType="ReviewBoard">
select
	reservationID
	,starRating
	,title
	,contents
	,to_date(reviewDate, 'yyyy-mm-dd') as reviewDate
from
	ReviewBoard
order by
	reviewDate desc
</select>

<!-- 회원 정보 수정 -->
<update id="userInfoUpdate" parameterType="Homeuser">
update
	HomeUser
set
	<if test="userPassword !=''">
		userPassword = #{userPassword}
	</if>
	<if test="userEmail !=''">
		,userEmail = #{userEmail}
	</if>
	<if test="userPhone !=''">
		,userPhone = #{userPhone}
	</if>
where
	userPassword = #{userPassword}
</update>

<select id="reservationListAll" resultType="Reservation">
select 
	reservationID
	,roomID
	,userID
	,CheckInDate
	,CheckOutDate
from 
	reservation
</select>


<select id="useableRoom" parameterType="UseableRoomListSrc" resultType="UnBookingRoom">
select 
    roomid
from 
    roomtype rt, room r, hotel  h
where 
    r.hotelid = h.hotelid
    and r.roomtypeid = rt.roomtypeid
    and rt.roomtypename = #{roomTypename}
    and h.hotelname = #{hotelName}
Order by 1
</select>


</mapper>
